html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    margin: 50px auto;
    border: 1px solid black;
    box-sizing: border-box;
    
}
header {
    background-color: green;
    padding: 3%;
    box-sizing: border-box;
}
.content::after {
    content: '';
    display: block;
    clear: both;
}
.sidebar {
   float: left;
   width:40% ;
    
}
.sidebar aside {
    background-color: blueviolet;
    padding: 60px 0;
}

.sidebar nav {
    background-color: aqua;
    padding: 102px;
} 

main {
    background-color: rgb(255, 210, 138);
    width: 60%;
    padding: 171px;
    box-sizing: border-box;
    float: right;
}

footer {
    background-color: rgb(59, 59, 59);
    color: gray;
    margin: auto;
    padding: 20px 0;
}
footer p {
   text-align: center;
}

footer p:hover{
    color: white;
}